*.yatt  linguist-language=HTML gitlab-language=html 
*.ytmpl linguist-language=HTML gitlab-language=html
*.ydo   linguist-language=Perl gitlab-language=perl
*.psgi  linguist-language=Perl gitlab-language=perl
